<div class='container'>
<h1>All Cocktails (<%= @cocktails.length %>)</h1>
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail)  %> - <%= link_to 'ⓧ', cocktail_path(cocktail) , method: :delete %></li> 
    <% end %>
  </ul>
  <%= link_to 'Add new Cocktail', new_cocktail_path, class: 'btn btn-success' %>
</div>
